.tariff-container {
  border: 3px solid white;
  width: 250px;
  opacity: 0.5;
  transition: opacity 3s ease-in-out;
}

.tariff-name {
  border-bottom: 1px solid white;
  color: white;
  padding: 15px;
}
.tariff-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 1px solid white;
}

.tariff-price-item {
  display: flex;
  align-items: center;
  height: 30vh;
  font-size: 35px;
}

.tariff-speed {
  background-color: rgb(214, 207, 207);
  border-bottom: 1px solid white;
  padding: 5px;
  font-size: 13px;
}

.tariff-traffic {
  padding: 8px;
  font-size: 13px;
  background-color: rgb(179, 173, 173);
}

.blueColor {
  background-color: rgb(85, 216, 248);
}

.greenColor {
  background-color: rgb(64, 241, 203);
}

.redColor {
  background-color: rgb(250, 148, 130);
}

.blackColor {
  background-color: rgb(18, 53, 61);
}

.selected {
  width: 270px;
  opacity: 2;
}
